<!DOCTYPE html>
<html ng-app="whosPlayingApp">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="lib/boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/boostrap/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <title>Whos-Playing</title>
  </head>
  <body ng-controller="MainController" style="text-align:center">
    <img class="logo" src="images/logo.png">
    <div>
      <div ng-repeat="device in devices" style="display: inline-block;padding:10px">
        <div class="card text-center" style="width: 20rem;height: 27rem">
          <div class="card-header" style="height: 8rem">
            <h2><small>{{ device.name }}</small></h2>
          </div>
          <div class="card-block">
            <div ng-if="device.currentUserInfo == null">
              <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" id="loader"></i>
              <p>Loading user...</p>
            </div>
            <p class="lead" ng-if="device.currentUserInfo != null" class="card-text">{{ device.currentUserInfo.display_name != null ? device.currentUserInfo.display_name : device.currentUsername }}</p>
            <div ng-if="device.currentUserInfo.images.length == 0" class="profile-picture" ng-style="{ backgroundImage: 'url(images/profile.png)' }"></div>
            <div ng-if="device.currentUserInfo.images.length > 0" class="profile-picture" ng-style="{ backgroundImage: 'url('+device.currentUserInfo.images[0].url+')' }"></div>
            <a ng-if="device.currentUserInfo != null" href="{{ device.currentUserInfo.external_urls.spotify }}" class="btn btn-outline-success">Spotify profile</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>